.get-now-container {
  background-color: #191919;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.get-now-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.get-now-content {
  margin-left: 10px;
}

.get-now-nav {
  height: 240px;
}
