.icon {
  position: absolute;
  top: -100px;
  left: -50px;
  background-color: #D34848;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: white;
  transition: all ease .3s;
}

.icon-opened {
  position: absolute;
  width: 450px;
  height: 450px;
  top: -100px;
  left: -50px;
  background-color: black;
  color: #D34848;
  overflow: hidden;
  border-radius: 50%;
  transition: all ease .3s;
}

.icon-position {
  position: absolute;
  top: 150px;
  left: 100px;
}

.company {
  position: absolute;
  top: 150px;
  left: 200px;
  font-size: 30px;
}

.menu-items {
  position: absolute;
  top: 225px;
  left: 150px;
  list-style: none;
  color: white;
  font-size: 30px;
}

.menu-items li:hover {
  cursor: pointer;
  color: #D34848;
}




