.payment-container {
  width: 100vw;
}

.payment-top-nav {
  height: 300px;
}

.payment-content {
  margin-left: 20vw;
}

.payment-radio-label {
  font-weight: bold;
  padding-left: 10px;
  padding-right: 50px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

label {
  font-size: 20px;
}

.select-plan {
  padding-bottom: 100px;
  text-align: left;
}


.personal-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

.billing-header {
  padding-bottom: 30px;
}

.label-header {
  font-size: 15px;
  font-weight: bold;
}

.payment-city {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.payment-city-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-full-width {
  width: 100%;
}

input, textarea {
 
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input:focus, textarea:focus {
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border-bottom: 3px solid #2F1FE9;
}

.card-info {
  padding-right: 20vw;
}

.acknowledgement {
  margin-top: 50px;
  margin-bottom: 200px;
  font-size: 18px;
  width: 25%;
}