.pricing-container {
  background-color: black;
  width: 100vw;
 
}

.pricing-nav {
  height: 200px;
}

.pricing-content {
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.call-to-action {
  letter-spacing: 5px;
  font-size: 35px;
}

.pricing-options {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cta-button {
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.pricing-perks-container {
  width: 100vw;
  background-color:#D34848;
  overflow: hidden;
}

.pricing-perks-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.pricing-perks-header {
  font-weight: bold;
  color: white;
  margin-left: 250px;
  margin-bottom: 100px;
}