.red-container {
  width: 100%;
  height: 900px;
  background-color: #D34848;
}

.top-button {
  position: absolute;
  top: 50px;
  right: 100px;
}

.content-container {
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.info {
  width: 50%;
  color: black;
  font-size: 45px;
}

.info h1 {
  color: white;
}

.music-start {
  position: relative;
  bottom: 100px;
  left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  width: 120px;
  height: 120px;
}

.music-start:hover {
  cursor: pointer;
}
