.red-container {
  width: 100%;
  height: 90vh;
  background-color: #D34848;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .red-container {
    height: 125vh;
  }
}

.top-button {
  position: absolute;
  top: 50px;
  right: 100px;
}

.content-container {
  position: absolute;
  top: 200px;
  padding-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .speakers {
    margin-top: 100px;
  }
}

.info {
  width: 50%;
  color: black;
  font-size: 45px;
}

.info h1 {
  color: white;
}

.music-start {
  position: relative;
  bottom: 100px;
  left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  font-size: 25px;
  border-radius: 50%;
  color: white;
  width: 120px;
  height: 120px;
}

.music-start:active {
  transform: translateY(4px);
}

.music-start:hover {
  cursor: pointer;
}
